<!-- Contains display information for current state of data -->
{% extends 'base.html' %}

{% block elements %}

{% if classes|length < 1 %}
<div id="noClasses">No Classes Added</div>
{% else %}

{% for class in classes %}

<div id="{{ class.name }}" class="draggable Class non-activeEdit" onmouseover="bringForward('{{ class.name }}')" style="top: {{ class.y }}px; left: {{ class.x }}px;">
    <div id="DeleteClass">
        <form action="/delete/" method="POST">
            <button type="submit" id="DeleteClass" class="btn" name="delete" value="{{ class.name }}" onclick="return confirm('Are you sure you want to delete this class?')"><i class="fa fa-close"></i></button>
        </form>
    </div>
    <div class="EditClass">
        <button class="EditButton" onclick="editClass('{{ class.name }}')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
    <form action="/manipCharacteristics/" method="POST">
        <div class="SaveClass">
            <button type="submit" style="display:none;" id="attrsave-{{ class.name }}" class="SaveButton"><i class="fa fa-save" aria-hidden="true"></i></button>
        </div>
        <div class="className">
            <h2 class="className">
                <span  id="class-{{ class.name }}" style="display:block;">{{ class.name }}</span>
            </h2>
            <input type="hidden" name="field[ super ][class_name]" value="{{ class.name }}">
            <input type="hidden" name="field[ super ][new_name]" value="{{ class.name }}" id="classtext-{{ class.name }}">
            <input type="hidden" name="field[ super ][action]" value="RenameClass">
        </div>
        <div id="Attributes">
            {% for attr in attributes if attr.class_name == class.name %}
                {% if loop.first %}
                    <hr class="divider">
                {% endif %}
            {% endfor %}
            {% for attr in attributes if attr.class_name == class.name and attr.attr_type == 'field' %}
                {% if loop.first %}
                    <h3 class="headings">Fields</h3>
                {% endif %}
            {% endfor %}
            <ul class="list">
                {% for attr in attributes if attr.class_name == class.name and attr.attr_type == 'field' %}
                    <li id="attr-{{ class.name }}-{{ attr.attribute }}">
                        <input type="hidden" name="field[{{ attr.attribute }}][class_name]" value="{{ class.name }}">
                        <input type="hidden" name="field[{{ attr.attribute }}][attribute]" value="{{ attr.attribute }}">
                        <input type="hidden" class="attrtext-{{ class.name }}" name="field[{{ attr.attribute }}][new_attribute]" value="{{ attr.attribute }}">
                        <span class="attrname-{{ class.name }}">{{ attr.attribute }}</span>
                        <label class="container container-{{ class.name }}" style="display:none;">
                            <input type="checkbox" class="attrdel-{{ class.name }}" name="field[{{ attr.attribute }}][action]" value="Delete">
                            <i class="fa fa-trash unchecked" title="Delete"></i>
                            <i class="fa fa-trash checked" title="Cancel"></i>                            
                        </label>
                    </li>
                {% endfor %}
            </ul>
            {% for attr in attributes if attr.class_name == class.name and attr.attr_type == 'method' %}
                {% if loop.first %}
                    <h3 class="headings">Methods</h3>
                {% endif %}
            {% endfor %}
            <ul class="list">
                {% for attr in attributes if attr.class_name == class.name and attr.attr_type == 'method' %}
                    <li id="attr-{{ class.name }}-{{ attr.attribute }}">
                        <input type="hidden" name="field[{{ attr.attribute }}][class_name]" value="{{ class.name }}">
                        <input type="hidden" name="field[{{ attr.attribute }}][attribute]" value="{{ attr.attribute }}">
                        <input type="hidden" class="attrtext-{{ class.name }}" name="field[{{ attr.attribute }}][new_attribute]" value="{{ attr.attribute }}">
                        <span class="attrname-{{ class.name }}">{{ attr.attribute }}</span>
                        <label class="container container-{{ class.name }}" style="display:none;">
                            <input type="checkbox" class="attrdel-{{ class.name }}" name="field[{{ attr.attribute }}][action]" value="Delete">
                            <i class="fa fa-trash unchecked" title="Delete"></i>
                            <i class="fa fa-trash checked" title="Cancel"></i>                            
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <span id="addAttributeForm-{{ class.name }}" style="display: none; padding-top: 5px; padding-bottom: 5px;">
                <input type="hidden" name="field[ class ][class_name]" value="{{ class.name }}">
                <h4 class="headings">Add Attributes</h4>
                <ul class="addAttrs">
                    <li>
                        <input type="text" placeholder="int count, getCount:int(), ..." name="field[ class ][attrs]">
                        <input type="hidden" name="field[ class ][action]" value="Add">
                    </li>
                    <input type="radio" name="field[ class ][attr_type]" id="field" value="field" checked>
                    <label for="field">Fields</label>
                    <input type="radio" name="field[ class ][attr_type]" id="method" value="method">
                    <label for="method">Methods</label>
                </ul>
            </span>
        </div>
        <div id="Relationships-{{ class.name }}" class="RelationshipDiv" style="display: none;">
            {% for rel in class.class_relationships if rel.from_name == class.name %}
                {% if loop.first %}
                    <hr class="divider">
                    <h3 class="headings">Delete Relationships</h3>
                {% endif %}
            {% endfor %}
            <ul class="list">
                {% for rel in class.class_relationships if rel.from_name == class.name %}
                    <li id="rel-{{ class.name }}-{{ rel.to_name }}">
                        <input type="hidden" name="field[{{ rel.to_name }}][class_name]" value="{{ class.name }}">
                        <input type="hidden" name="field[{{ rel.to_name }}][to_name]" value="{{ rel.to_name }}">
                        <span class="relname-{{ class.name }}">{{ rel.to_name }}</span>
                        <label class="container container-{{ class.name }}" style="display:none;">
                            <input type="checkbox" class="attrdel-{{ class.name }}" name="field[{{ rel.to_name }}][action]" value="DeleteRel">
                            <i class="fa fa-trash unchecked" title="Delete"></i>
                            <i class="fa fa-trash checked" title="Cancel"></i>                            
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </form>
    <div class="RelClass">
            <button class="RelButton" onclick="readyRelationship('{{ class.name }}')"><i class="fa fa-chain" aria-hidden="true"></i></button>
    </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}