<!-- Contains display information for current state of data -->
{% extends 'base.html' %}

{% block elements %}

{% if classes|length < 1 %}
<div id="noClasses">No Classes Added</div>
{% else %}

{% for class in classes %}

<!-- No matter what IntelliSense tries to tell you, the moustaches in the next line are not errors. -->
<div id="{{ class.name }}" class="draggable Class" style="top: {{ class.y }}px; left: {{ class.x }}px;">
    <div id="DeleteClass">
        <a href="/delete/{{ class.name }}" name="delete" onclick="return confirm('Are you sure you want to delete this class?')"><i class="fa fa-close"></i></a>
    </div>
    <div id="EditClass">
        <button class="EditButton" onclick="editClass('{{ class.name }}')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    </div>
    <h2 class="className">{{ class.name }}</h2>
    <div id="Attributes">
        <hr class="divider">
        <h4 class="headings">Attributes</h4>
        <ul class="attributeList">

            {% for attr in attributes %}

            {% if attributes|length < 1 %}
            <li>No Attributes</li>
            {% else %}

            {% if attr.class_name == class.name %}
            <li>{{ attr.attribute }}</li>
            {% endif %}
            {% endif %}
            {% endfor %}

            <span id="addAttributeForm-{{ class.name }}" onclick="addAttribute('attInput-{{ class.name }}')" style="display: none; padding-right: 10px; padding-top: 5px;">
                <form action="/addattr/{{ class.name }}" method="POST">
                    <input type="text" id="attInput-{{ class.name }}" style="width: 70%;" placeholder="getCar(),setColor(),..."  name="{{ class.name }}-attribute" required>
                    <button id="AddAttribute" type="submit">Add</button> 
                </form>
            </span>
        </ul>
    </div>
    <div id="Relationships-{{ class.name }}" class="RelationshipDiv" style="display: none;">
        <hr class="divider">
        <h4 class="headings">Relationships</h4>
        <ul class="relationshipList">
            <li>Car</li>
            <li>Wheel</li>
            <li>Train</li>
        </ul>
        <button id="RelationshipButton" class="relButton"><i class="fa fa-link"></i> Add Child</button>
    </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}