<!-- Contains display information for current state of data -->
{% extends 'base.html' %}

{% block elements %}

{% if classes|length < 1 %}
<div id="noClasses">No Classes Added</div>
{% else %}

{% for class in classes %}

<!-- No matter what IntelliSense tries to tell you, the moustaches in the next line are not errors. -->
<div id="{{ class.name }}" class="draggable Class" onclick="navBarClick()" style="top: {{ class.y }}px; left: {{ class.x }}px;">
    <button id="DeleteClass" name="delete" onclick="location.href='/delete/{{class.name}}';"><i class="fa fa-close"></i></button>
    <h2 class="className">{{ class.name }}</h2>
</div>

{% endfor %}
{% endif %}
{% endblock %}