/* Contains style information for base index */

body{
    margin: 0px;
    padding: 0px;
}

.main-body{
    margin: 0px;
}

.flash-error {
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(250, 170, 181);
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 160px;
    margin: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
}

.flash-success {
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(198, 255, 164);
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 160px;
    margin: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
}

#flashMsg{
    position: absolute;
    right: 20px;
}

.navBar{
    width: 255px;
    border: 1px solid gray;
    position: fixed;
    z-index: 1250;
    left: -256px;
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
    background-blend-mode: normal, multiply;
    transition: 0.5s;
}

.navBarItems{
    list-style: none;
    margin-left: 2px;
}

.navBarItems li {
    padding-top: 25px;
}

#navTab {
    margin: 0px;
    position: absolute;
    left: 100%;
    padding: 4px;
    width: 45px;
    height: 30px;
    cursor: pointer;
}

#navTab span {
    width: 40px;
    height: 5px;
    display: block;
    background-color: rgb(167,172,172);
    border: 1px solid rgb(167,172,172);
    border-radius: 2px;
    margin-top: 4px;
    transition: 0.5s;
}

.navActive {
    left: 0;
}

.toggle .line1 {
    transform: rotate(45deg) translate(15px,5px);    
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(10px,0px);
}

#AddButton {
    cursor: pointer;
    outline: none;
    background-color: lightskyblue;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 45px;
}

#AddButton:hover {
    color: rgb(65, 65, 65);
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

.active{
    color: rgb(65, 65, 65);
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

.non-active {
    color: white;
    box-shadow: 5px 3px 3px rgb(36, 36, 36);
}

#SaveButton {
    cursor: pointer;
    outline: none;
    background-color: rgb(123, 241, 123);
    font-weight: bold;
    font-size: 22px;
    font-family: 'ubuntu', sans-serif;
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 45px;
}

#SaveButton:hover{
    color: rgb(65, 65, 65);
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

#LoadButton {
    cursor: pointer;
    outline: none;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    font-weight: bold;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 45px;
}

#LoadButton:hover {
    color: rgb(65, 65, 65);
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

#DeleteAdd{
    cursor: pointer;
    position: absolute;
    border-radius: 0px 5px 0px 0px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    right: 0px;
    top: 0px;
}

#DeleteAdd:hover{
    background-color: crimson;
}

#DeleteClass a{
    text-decoration: none;
    color: white;
}

#DeleteSave{
    cursor: pointer;
    position: absolute;
    border-radius: 0px 5px 0px 0px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    right: 0px;
    top: 0px;
}

#DeleteSave:hover{
    background-color: crimson;
}


#DeleteClass{
    cursor: pointer;
    position: absolute;
    border-radius: 0px 5px 0px 0px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    right: 0px;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#DeleteClass:hover{
    background-color: crimson;
}

.classPopup{
    position: sticky;
    z-index: 1;
    background-color: lightskyblue;
    text-align: center;
    width: 200px;
    height: 130px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    box-shadow: 5px 4px 3px rgb(36, 36, 36);
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
}

.classPopup input {
    padding-left: 5px;
    margin-top: 15px;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    outline: none;
}

.classPopup h1 {
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: rgb(65, 65, 65);
}

#AddClassForm{
    display: none;
}

.SubmitButton {
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(106, 184, 233);
    background-color: lightskyblue;
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: rgb(65, 65, 65);
    border-radius: 5px;
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
}

.SubmitButton:hover{
    background-color: rgb(106, 195, 250);
    box-shadow: 3px 3px 3px rgb(36, 36, 36);
}

.savePopup{
    position: sticky;
    z-index: 1;
    background-color: rgb(123, 241, 123);
    text-align: center;
    width: 200px;
    height: 130px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    box-shadow: 5px 4px 3px rgb(36, 36, 36);
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
}

.savePopup input {
    padding-left: 5px;
    margin-top: 15px;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    outline: none;
}

.savePopup h1 {
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: rgb(65, 65, 65);
}

#saveForm{
    display: none;
}

.saveButton {
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(123, 241, 123);
    background-color: rgb(123, 241, 123);
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: rgb(65, 65, 65);
    border-radius: 5px;
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
}

.saveButton:hover{
    background-color: rgb(100, 230, 100);
    box-shadow: 3px 3px 3px rgb(36, 36, 36);
}

.loadPopup{
    position: sticky;
    z-index: 1;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    text-align: center;
    width: 200px;
    height: 130px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    box-shadow: 5px 4px 3px rgb(36, 36, 36);
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
}

.loadPopup input {
    padding-left: 5px;
    margin-top: 15px;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    outline: none;
}

.loadPopup h1 {
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: rgb(65, 65, 65);
}

#loadInput {
    width: 175px;
    color: white;
    border: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

#loadForm{
    display: none;
}

.loadButton {
    outline: none;
    cursor: pointer;
    border: 1px solid #f9748f;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: rgb(65, 65, 65);
    border-radius: 5px;
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
}

.loadButton:hover{
    background-color: #f9748f;
    box-shadow: 3px 3px 3px rgb(36, 36, 36);
}

#noClasses {
    font-family: 'Ubuntu', sans-serif; 
    left: 45%; 
    top: 40%; 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: 4px 3px 3px gray;
    border: .5px solid gray;
    width: 250px;
    height: 50px;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    position: fixed;
}

.Class{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    cursor: pointer;
    position: absolute;
    border-radius: 5px;
    box-shadow: 4px 3px 3px gray;
    border: .5px solid gray;
}

.Class:hover {
    box-shadow: 5px 8px 8px gray;
}

#EditClass {
    position: absolute;
    left: 0px;
    top: 0px;
}

.EditButton {
    cursor: pointer;
    border-radius: 5px 0px 0px 0px;
    background-color: rgb(248, 246, 94);
    color: black;
    font-size: 16px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.divider{
    height: 2px;
    position: relative;
    left: 0;
    width: 98%;
}

.headings {
    padding-left: 5px;
}

.attributeList {
    list-style: none;
    
}

.attributeList li {
    font-size: 14px;
}

.relationshipList {
    list-style: none;
}

.relationshipList li {
    font-size: 14px;
}


.className {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-align: center;
    border-bottom: none;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
