/* Contains style information for base index */

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(243, 243, 243);
}

.main-body{
    margin: 0px;
}

.flash-error {
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(250, 170, 181);
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 160px;
    margin: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    top: 40px;
    right: 20px;
}

.flash-success {
    outline: none;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(198, 255, 164);
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 160px;
    margin: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    top: 40px;
    right: 20px;
}

#undo {
    position: fixed;
    top: 0;
    right: 50px;
    z-index: 999999;
}

#redo {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
}

.undo-redo {
    background-color: #cfcfcf;
    border: none;
    color: #424649;
    text-align: center;
    text-decoration: none;
    font-size: 30pt;
    margin-right: 4px;
    margin-top: 4px;
    cursor: pointer;
}

.undo-redo:hover {
    background-color: rgb(158, 169, 177);
}

.navBar{
    width: 255px;
    position: fixed;
    z-index: 125000;
    left: -257px;
    background-color: rgb(158, 169, 177);
    transition: 0.5s;
}

.navBarItems{
    list-style: none;
    margin-left: 2px;
}

.navBarItems li {
    padding-top: 25px;
}

#navTab {
    margin: 0px;
    position: absolute;
    left: 100%;
    padding: 4px;
    width: 45px;
    height: 30px;
    cursor: pointer;
}

#navTab span {
    width: 40px;
    height: 5px;
    display: block;
    background-color: rgb(145, 156, 167);
    border: 1px solid rgb(145, 156, 167);
    border-radius: 2px;
    margin-top: 4px;
    transition: 0.5s;
}

.navActive {
    left: 0;
}

.toggle .line1 {
    transform: rotate(45deg) translate(15px,5px);    
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(10px,0px);
}

#AddButton {
    cursor: pointer;
    outline: none;
    background-color: #CCCCCC;
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid #86C232;
    width: 150px;
    height: 45px;
}

#AddButton:hover {
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

#RelationshipButton {
    cursor: pointer;
    outline: none;
    background-color: #CCCCCC;
    color: #111111;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #86C232;
    border-radius: 5px;
    width: 150px;
    height: 25px;
    margin-left: 20%;
    margin-bottom: 10px;
    box-shadow: 5px 3px 3px rgb(36, 36, 36);
}

#RelationshipButton:hover {
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

.active{
    border-radius: 5px 5px 0px 0px;
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

.non-active {
    border-radius: 5px;
    box-shadow: 5px 3px 3px rgb(36, 36, 36);
}

#SaveButton {
    cursor: pointer;
    outline: none;
    background-color: #CCCCCC;
    color: #111111;
    font-weight: bold;
    font-size: 22px;
    font-family: 'ubuntu', sans-serif;
    border: 2px solid #86C232;
    width: 150px;
    height: 45px;
}

#SaveButton:hover{
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

#LoadButton {
    cursor: pointer;
    outline: none;
    background-color: #CCCCCC;
    color: #111111;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    border: 2px solid #86C232;
    width: 150px;
    height: 45px;
}

#LoadButton:hover {
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

#DeleteAdd{
    cursor: pointer;
    position: absolute;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    right: 0px;
    top: 0px;
}

#DeleteAdd:hover{
    background-color: crimson;
}

#DeleteClass a{
    text-decoration: none;
    color: white;
}

#DeleteSave{
    cursor: pointer;
    position: absolute;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    right: 0px;
    top: 0px;
}

#DeleteSave:hover{
    background-color: crimson;
}


#DeleteClass{
    cursor: pointer;
    position: absolute;
    background-color: red;
    z-index: 1250px;
    color: white;
    font-size: 16px;
    border: none;
    right: 0px;
    top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#DeleteClass:hover{
    background-color: crimson;
}

.classPopup{
    position: sticky;
    z-index: 1;
    background-color: #CCCCCC;
    border: 1px solid #86C232;
    color: #111111;
    text-align: center;
    width: 200px;
    height: 130px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 4px 3px rgb(36, 36, 36);
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
}

.classPopup input {
    padding-left: 5px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}

.classPopup h1 {
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #111111;
}

#AddClassForm{
    display: none;
}

.SubmitButton {
    outline: none;
    cursor: pointer;
    border: 1px solid #86C232;
    background-color: #CCCCCC;
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: #111111;
    border-radius: 5px;
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
}

.SubmitButton:hover{
    box-shadow: 3px 3px 3px rgb(36, 36, 36);
}

.savePopup{
    position: sticky;
    z-index: 1;
    background-color: #CCCCCC;
    text-align: center;
    color: #111111;
    width: 200px;
    height: 130px;
    border: 1px solid #86C232;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 4px 3px rgb(36, 36, 36);
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
}

.savePopup input {
    padding-left: 5px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}

.savePopup h1 {
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #111111;
}

#saveForm{
    display: none;
}

.saveButton {
    outline: none;
    cursor: pointer;
    border: 1px solid #86C232;
    background-color: #CCCCCC;
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: #111111;
    border-radius: 5px;
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
}

.saveButton:hover{
    box-shadow: 3px 3px 3px rgb(36, 36, 36);
}

.RelClass {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.RelButton {
    cursor: pointer;
    background-color: rgb(248, 232, 3);
    outline: none;
    color: #222629;
    font-size: 16px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.RelButton:hover {
    background-color: rgb(187, 178, 6);
}

.loadPopup{
    position: sticky;
    z-index: 1;
    background-color: #CCCCCC;
    color: #111111;
    border: 1px solid #86C232;
    text-align: center;
    width: 200px;
    height: 130px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 4px 3px rgb(36, 36, 36);
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
}

.loadPopup input {
    padding-left: 5px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}

.loadPopup h1 {
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #111111;
}

#loadInput {
    width: 175px;
    color: #111111;
    border: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

#loadForm{
    display: none;
}

.loadButton {
    outline: none;
    cursor: pointer;
    border: 1px solid #86C232;
    background-color: #CCCCCC;
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: #111111;
    border-radius: 5px;
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
}

.loadButton:hover{
    box-shadow: 3px 3px 3px rgb(36, 36, 36);
}

.exportPopup{
    position: sticky;
    z-index: 1;
    background-color: #CCCCCC;
    color: #111111;
    text-align: center;
    width: 200px;
    height: 130px;
    border: 1px solid #86C232;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 4px 3px rgb(36, 36, 36);
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
}

.exportPopup input {
    padding-left: 5px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}

.exportPopup h1 {
    padding-top: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    color: #111111;
}

#exportForm{
    display: none;
}

.exportButton {
    outline: none;
    cursor: pointer;
    border: 1px solid #86C232;
    background-color: #CCCCCC;
    box-shadow: 2px 2px 1px rgb(36, 36, 36);
    color: #111111;
    border-radius: 5px;
    width: 60px;
    font-weight: bold;
    margin-top: 10px;
}

.exportButton:hover{
    box-shadow: 3px 3px 3px rgb(36, 36, 36);
}

#ClearButton {
    cursor: pointer;
    outline: none;
    background-color: #CCCCCC;
    color: #111111;
    font-weight: bold;
    font-size: 22px;
    font-family: 'ubuntu', sans-serif;
    border: 2px solid #86C232;
    width: 150px;
    height: 45px;
}

#ClearButton:hover{
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

#ExportButton {
    cursor: pointer;
    outline: none;
    background-color: #CCCCCC;
    color: #111111;
    font-weight: bold;
    font-size: 22px;
    font-family: 'ubuntu', sans-serif;
    border: 2px solid #86C232;
    width: 150px;
    height: 45px;
}

#ExportButton:hover{
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

#noClasses {
    font-family: 'Ubuntu', sans-serif; 
    left: 45%; 
    top: 40%; 
    color: #111111;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    border-radius: 5px;
    border: 2px solid #86C232;
    width: 250px;
    height: 50px;
    background-color: #CCCCCC;
    position: fixed;
}

.Class{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #CCCCCC;
    color: #111111;
    cursor: pointer;
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #222629;
    z-index: 1;
}

.Class:hover {
    box-shadow: 0px 0px 15px #61892F;
}

.EditClass {
    position: absolute;
    left: 0px;
    top: 0px;
}

.EditButton {
    cursor: pointer;
    background-color: #86C232;
    outline: none;
    color: #222629;
    font-size: 16px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.EditButton:hover {
    background-color: #61892F;
}

.SaveClass {
    position: absolute;
    left: 33px;
    top: 0px;
}

.SaveButton {
    cursor: pointer;
    background-color: #3194f7;
    outline: none;
    color: #222629;
    font-size: 16px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.SaveButton:hover {
    background-color: #1c5c9c;
}

.non-activeEdit {
    box-shadow: none;
}

.activeEdit{
    box-shadow: 0px 0px 15px #61892F;
}

#AddAttribute {
    border: 1px solid #86C232;
    background-color: #CCCCCC;
    color: #111111;
    box-shadow: 5px 3px 3px rgb(36, 36, 36);
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

#AddAttribute:hover {
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

.outline {
    margin-top: 1px;
    border: 1px solid #86C232;
    background-color: #CCCCCC;
    color: #111111;
    box-shadow: 5px 3px 3px rgb(36, 36, 36);
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.outline:hover {
    box-shadow: 5px 8px 8px rgb(36, 36, 36);
}

.divider{
    background-color: #222629;
    border: none;
    height: 2px;
    position: relative;
    left: 0;
    width: 100%;
}

.headings {
    padding-left: 10px;
    color: #111111;
}

.attributeList {
    list-style-type: square;
    padding-right: 15px;
    color: #111111;
}

.attributeList li {
    font-size: 14px;
    margin-bottom: 5px;
    color: #111111;
}

.checked {
    cursor: pointer;
    color: red;
}

.unchecked {
    cursor: pointer;
    color: #111111;
}

.container input[type="checkbox"],
.container .checked {
    display: none;
}

.container input[type="checkbox"]:checked ~ .checked {
    display: inline-block;
}

.container input[type="checkbox"]:checked ~ .unchecked {
    display: none;
}

.container:hover input[type="checkbox"] ~ .unchecked {
    color: #888;
}

.relationshipList {
    list-style: none;
    color: #111111;
}

.relationshipList li {
    font-size: 14px;
    color: #111111;
}

#relOptions {
    border: none;
    outline: none;
}

.className {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: none;
}

.classRename {
    text-align: center;
}


@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.labelStyle {
    color: #6B6E70;
    font-size: 30px; 
    font-weight: bold;
}

#addRelHelp {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #111111;
    z-index: 999999999999;
}

#addRelHelp a {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}